<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Update", edit_article_path(@article) %></li>
  <li>
    <%=
      link_to "Destroy",
      article_path(@article),
      data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>
</ul>

<h2>Comment: </h2>
<% @article.comments.each do |comment| %>
  <div>
    <%= comment.commenter %>: <%= comment.body %>
  </div>
<% end %>

<h2>Add a comment: </h2>
<%= form_with model: [@article, @article.comments.build] do |form|%>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
