<h1><%= @good.name %></h1>

<ul>
  <li>Category: <%= @good.category %></li>
  <li>Place: <%= @good.place %></li>
  <li>Quantity: <%= @good.quantity %></li>
</ul>

<div>
  <%= link_to "Delete", good_path(@good), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
